{% if pv_map or unique_pv_map %}
from p4p.server import Server, ServerOperation
from p4p.server.thread import SharedPV
from p4p.nt import NTScalar, NTEnum
from typing import Callable
import sys
# First, so that another package called "core" is not found in place of SARABI's
sys.path.insert(0, r"{{ sarabi_root }}")
from core.device.base_server import PVASimulatedPVGroup
import time
import threading

class Handler:
    """
    Handler class for processing 'put' operations on PVs.
    """

    def __init__(self, drive: Callable = None):
        """
        Initializes the Handler with an optional drive callable.

        Args:
            drive (Callable, optional): A callable to be invoked on 'put' operations.
        """
        self.drive = drive
        self.started = False

    def onFirstConnect(self, pv: SharedPV) -> None:
        """
        Called when the first client connects to the PV.

        Args:
            pv (SharedPV): The process variable that was connected.
        """
        if not self.started:
            self.started = True
            threading.Thread(
                target=self.drive,
                daemon=True,
            ).start()

    def put(self, pv: SharedPV, op: ServerOperation):
        """
        Handles 'put' operations by posting the new value to the PV.
        Adds a timestamp if one is not already present.

        Args:
            pv (SharedPV): The process variable to update.
            op (ServerOperation): The operation containing the new value.
        """
        if not op.value().raw.changed("timeStamp"):
            timestamp = time.time()
            pv.post(op.value(), timestamp=timestamp)
        else:
            pv.post(op.value())
        op.done()

class EnumHandler(Handler):
    """
    Handler for enumerations, which are put to as any other PV is.
    """

    def onFirstConnect(self, pv: SharedPV) -> None:
        """
        Called when the first client connects to the PV.

        Args:
            pv (SharedPV): The process variable that was connected.
        """
        # This method can be used to initialize or log information when the first client connects.
        pass

class {{class_name}}(PVASimulatedPVGroup):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.fields = {}
    {% for name, config in pv_map.items() %}
        {% if kinds[name] == "state" %}
        self.{{name}} = SharedPV(nt=NTEnum(),
            handler=EnumHandler(),
            choices=[
                {% for key, _ in config.states|dictsort(by='value') %}
                {{ key|pystr }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            ],
            initial=0
        )
        {% else %}
        self.{{name}} = SharedPV(nt=NTScalar("{{ dtype_map[kinds[name]].code }}"), handler=Handler(self.drive), initial={{ dtype_map[kinds[name]].initial }})
        {% endif %}
    {% endfor %}
    # The following PVs may not exist for all IOCs of this type.
    {% for name, config in unique_pv_map.items() %}
        {% if kinds[name] == "state" %}
        self.{{name}} = SharedPV(nt=NTEnum(),
            handler=EnumHandler(),
            choices=[
                {% for key, _ in config.states|dictsort(by='value') %}
                {{ key|pystr }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            ],
            initial=0
        )
        {% else %}
        self.{{name}} = SharedPV(nt=NTScalar("{{ dtype_map[kinds[name]].code }}"), handler=Handler(self.drive), initial={{ dtype_map[kinds[name]].initial }})
        {% endif %}
    {% endfor %}
{%endif%}